/*Помощь*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

#helpbox {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
    opacity: 0;
    transition-duration: 500ms;
}

#banner {
    width: 60%;
    height: 70%;
    position: absolute;
    margin: 15vh 20vw;
    background: #fff;
    z-index: 11;
}

#bannerinside {
    width: 59.5%;
    height: 69%;
    position: absolute;
    margin: 15.5vh 20.25vw;
    background: #222;
    z-index: 12;
}

#exit {
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 0;
    right: 0;
    background-size: 100% 100%;
    z-index: 14;
}

#exitred {
    position: absolute;
    width: 5vh;
    height: 5vh;
    top: 0;
    right: 0;
    background-size: 100% 100%;
    z-index: 13;
}

#exit:hover {
    opacity: 0;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 4vh;
    font-family: 'Times New Roman';
}

#helppage {
    height: 82%;
}

.instruction {
    margin: 1vw;
    position: relative;
    height: 30%;
}

.big_height {
    height: 60%;
}

.full_height {
    height: 90%;
}

.help_text {
    color: #fff;
    font-family: 'Times New Roman';
    font-size: 2.4vh;
    width: 80%;
    text-align: justify;
}

.full_width {
    width: 100%;
}

strong {
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    background-color: #555;
}

.help_button {
    position: absolute;
    width: 8vw;
    height: 8vw;
    background-size: cover;
    background-color: #333;
    border-color: #fff;
    border-radius: 10%;
    margin: 0vh 2vh;
    align-self: center;
    right: 0;
    top: 0;
}

.arr7 {
    width: 20vh;
    height: 20vh;
    position: absolute;
    top: 40%;
    background-size: 100% 100%;
    z-index: 13;
}

.arred {
    z-index: 12;
}

.arr7:hover {
    opacity: 0;
}

#prev {
    left: 10vh;
    transform: scale(-1, 1);
}

#next {
    right: 10vh;
}

#prevred {
    left: 10vh;
    transform: scale(-1, 1);
}

#nextred {
    right: 10vh;
}

.peaks {
    position: absolute;
    width: 50vw;
    height: 50vh;
    left: 25vw;
    background-size: 100% 100%;
}

#peaksup {
    top: -10vh;
}

#peaksdown {
    bottom: -10vh;
    transform: scale(1, -1);
}