/*PALETTE*/
#palette {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

hr {
    border: none;
    background: #222;
    height: 0.6vh;
}

.colorpicker {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.5vw;
    border-radius: 10%;
}

/*stroke & fill style*/

.checkbox label {
    color: #e5e5e5;
    font-size: 0.65vw;
    font-family: 'Roboto', sans-serif;
    width: 4vw;
    height: 0.7vw;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.styleListBox label>img {
    width: 100%;
}

.styleListBox label {
    width: 2vw;
    height: 2vw;
    margin: 1vh 0;
    display: block;
    cursor: pointer;
}

.styleList {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 3;
    margin-left: -4px;
    background-color: #444;
    padding: 4px;
    box-shadow: 4px 4px rgba(39, 39, 39, 0.5);
    width: 2vw;
}

.styleList li label {
    width: inherit;
    height: initial;
    display: flex;
}

#lines li label {
    cursor: pointer;
    width: inherit;
    height: initial;
    padding: 7px 0;
}

.styleList li:hover {
    background-color: #828282;
}

input:checked~ul {
    display: block;
}