img {
    cursor: pointer;
    height: 100%;
}

/*PALETTE*/
#palette {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

hr {
    border: none;
    background: #222;
    height: 0.6vh;
}

header hr {
    border: none;
    background: #222;
    height: 100%;
    width: 2px;
    margin: 0 0.5vw;
}

.colorpicker {
    margin: 3px 0;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 8%;
}

.colorOpacity {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    font-size: small;
}

/*stroke width*/

#widthBox {
    padding-top: 10px;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-evenly;
}

#strokeWidth {
    font-size: medium;
    background: transparent;
    width: 4vw;
}

#widthBox img {
    cursor: default;
}

/*stroke & fill style*/

.checkBox {
    width: 100%;
    height: 1.8vh;
    display: flex;
    cursor: pointer;
}

.styleListBox label img {
    width: 100%;
}

.styleListBox label {
    width: 2vw;
    height: 2vw;
    margin: 1vh 0;
    display: block;
}

.styleList {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 3;
    margin-left: -4px;
    background-color: rgb(60, 60, 60);
    padding: 4px;
    box-shadow: 4px 4px rgba(39, 39, 39, 0.5);
    width: 2vw;
}

#lines li label {
    width: inherit;
    height: initial;
    display: flex;
    padding: 7px 0;
}

.styleList li:hover {
    background-color: #666;
}

li input:checked~label {
    background-color: #555;
}

input:checked~ul {
    display: block;
}

/*LAYERS*/

#layers_header {
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8vw;
    border-style: solid;
    border-color: #444;
    border-image: initial;
    border-width: 0 0px 0.4vh;
}

#layers_header img:hover {
    cursor: pointer;
    background: #444;
}

#layers_panel {
    height: 100%;
    overflow-y: auto;
    flex: grow;
}

.layer {
    height: 60px;
    background: #555;
    margin: 0.3vw;
    display: flex;
}

.navigation {
    height: auto;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
}

.navigation img {
    width: 100%;
    height: auto;
}

.nameAndButtons {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.layerName {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    cursor: text;
    align-items: center;
    font-size: 90%;
}

input[type="text"] {
    outline: 1.5px inset #777;
    width: 90%;
    height: 100%;
    text-align: center;
    color: #e5e5e5;
    background: transparent;
    border: none;
}

.layer_buttons {
    width: 100%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
}

.layer_buttons img {
    width: 22%;
}

/*RANGE*/

input[type=range] {
    -webkit-appearance: none;
    width: 50%;
    background: transparent;
}

::-webkit-slider-runnable-track {
    margin-top: 1px;
    background: #333;
    height: 6px;
    cursor: pointer;
    border-radius: 5px;
}

::-webkit-slider-thumb {
    margin-top: -6px;
    width: 13%;
    height: 18px;
    background: #be0000;
    border-radius: 5px;
    -webkit-appearance: none;
}

::-moz-range-track {
    margin-top: 1px;
    background: #333;
    height: 6px;
    cursor: pointer;
    border-radius: 5px;
}

::-moz-range-thumb {
    margin-top: -6px;
    width: 13%;
    height: 18px;
    background: #be0000;
    border-radius: 5px;
    border: none;
}

.colorOpacity input {
    width: 70%;
}

.opacity::-webkit-slider-runnable-track {
    background: #222;
}

.opacity::-moz-range-track {
    background: #222;
}

/*LAYERS MENU*/

.layers_menu {
    height: 100%;
    width: 22%;
    background: url(../img/layers/menu.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.layers_menu ul {
    left: auto;
    top: auto;
    right: 0.4vw;
    width: auto;
    white-space: nowrap;
    font-size: 14.5px;
}

.layers_menu ul li {
    padding: 2.5px;
    cursor: pointer;
}

.layers_menu:hover ul {
    display: block;
}