@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    font-family: "Roboto", sans-serif;
    background-color: #333;
}

/*HEADER*/

#logo {
    /*font-size: 40px;
    padding: 5px 0px 15px 60px;
    background-size: 46px 46px;
    background-position: 7px 7px;*/
    font-size: x-large;
    margin: 0 0.5vw;
    padding-left: 2.3%;
    font-family: 'Marcellus SC', serif;
    background-image: url(../img/logo.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 5%;
    color: #fff;
    display: flex;
    align-items: center;
}

/*MENU*/

#container {
    height: 100%;
}

.menu {
    height: 100%;
    display: flex;
}

.menu li {
    position: relative;
    height: 100%;
    font-size: medium;
    font-weight: bold;
    padding: 0 0.6vw;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    cursor: default;
}

.menu li:hover {
    background-color: #555;
    transition: all 0.5s ease;
}

.menu li:hover ul {
    display: block;
}

/*SUB MENU*/

.sub_menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 2;
}

.sub_menu li {
    padding: 1.2vh 0.7vw;
    font-size: small;
    background-color: #333;
    cursor: pointer;
}

#help {
    cursor: pointer;
}

#paste {
    color: #999;
    cursor: default;
}

#paste:hover {
    background: #333;
}

/*TOP BUTTONS*/

#functions,
#obj_panel,
.properties_panel {
    height: 60%;
    width: initial;
    display: flex;
    align-items: center;
}

.func_button {
    height: 100%;
    padding: 3px;
    background-size: cover;
    background-color: transparent;
    border: none;
    border-radius: 15%;
}

.func_button:hover {
    background-color: #555;
}

/*properties_panel*/

#obj_panel,
.properties_panel {
    display: none;
    cursor: default;
}

.not_buttons {
    cursor: default;
}

input[type=number] {
    outline: none;
    color: #e5e5e5;
    border-radius: 2%;
    padding: 0 2px 0 8px;
}

.property {
    margin: 0 5px;
    font-size: medium;
    border: none;
    width: 54px;
    height: 100%;
    background: #444;
}

::-webkit-inner-spin-button {
    opacity: 0.7;
}

/*MAIN*/

main {
    height: 95%;
    width: 100%;
    position: fixed;
}

#left_panel {
    width: 2.8%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.tool_button {
    width: 2.1vw;
    height: 2.1vw;
    background-size: cover;
    background-color: #333;
    border-color: #fff;
    border-radius: 10%;
    cursor: pointer;
    margin: 5px;
}

.active {
    border-width: 4px;
}

.tool_button:hover {
    background-color: #555;
}

#left_panel li {
    width: 100%;
    display: flex;
    justify-content: center;
}

#left_panel li ul {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #333;
    list-style: none;
}

#left_panel li:hover ul {
    display: block;
}

#right_panel {
    width: 9%;
    height: 100%;
    background-color: #333;
    z-index: 2;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    color: #e5e5e5;
}

/*scrolling*/
#scroll_panel {
    overflow: scroll;
    width: 88.2%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 2.8%;
    background: #222;
    z-index: 1;
}

/*rulers*/
#rulers {
    z-index: 2;
    display: block;
    position: relative;
    font-size: 11px;
    font-family: Courier;
    font-weight: bold;
    user-select: none;
    color: #ccc;
}

#rulers_corner {
    position: fixed;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #333;
    border: none;
    z-index: 1;
}

#ruler_x {
    width: 100%;
    height: 15px;
    left: 15px;
    top: 0;
}

#ruler_x pattern rect {
    /*fill: url(#ruler_x_gradient);*/
    fill: #444;
}

#ruler_y pattern rect {
    fill: #444;
}

#ruler_x,
#ruler_y {
    position: absolute;
    display: block;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

#ruler_x pattern line,
#ruler_y pattern line {
    stroke: #ccc;
    stroke-width: 1px;
}

#ruler_x_text text,
#ruler_y_text text {
    fill: #ccc;
}

#ruler_y {
    width: 15px;
    height: 100%;
    top: 15px;
}

/*холст*/
#svg_panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(245, 245, 245);
    box-shadow: 0 0 10px #000000;
    z-index: 1;
}

/*VERT MENU*/
#figures:hover {
    background-color: #555;
}

.vertical_menu {
    position: relative;
    list-style: none;
    width: 100%;
    left: 100px;
    display: none;
}

.vertical_menu a {
    font-size: 150%;
    background-color: #333;
    text-decoration: none;
    color: #fff;
}

.vertical_menu a:hover {
    background-color: #555;
}

#figures:hover .vertical_menu {
    display: block;
}