* {
    margin: 0;
    padding: 0;
}

body {
  background: rgb(236, 221, 221);
}

/*HEADER*/

#logo {
  font-size: 5.2vh;
  margin-left: 1.5vw;
  margin-top: 2vh;
}

header {
  width: 100vw;
  height: 10vh;
  font-family: Courier;
  color: rgb(255, 255, 255);
  background-color: #310000;
  position: fixed;
  z-index: 2;
}

/*MENU*/

#menu_bar {
  top: 0vh;
  height: 10vh;
  width:  100%;
  margin-left:  13vh;
  position: fixed;
  background-color:  #310000;
  font-size: 3vh;
}

.container > ul {
  display: flex;
  list-style: none;
}

.container > ul li a {
  display: block;
  text-decoration: none;
  padding: 3.3vh 1.4vw 3.3vh 1.6vw;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.container > ul li {
  position: relative;
} 

.container ul > li a:hover {
  background-color: #bb9292;
  box-shadow: 1px 5px 10px -5px black;
  transition: all 0.3s ease;
}

/*SUB MENU*/

.container li ul {
  position: absolute;
  display: none;
  list-style: none;
}

.container li > ul li a {
  font-size: 2vh;
  padding: 1.8vh 1vw 1.8vh 1vw;
  text-transform: none;
  background-color: #310000;
}

.container li:hover > ul {
  display: block;
}

/*MAIN*/

#vertical_panel {
  width: 5vw;
  height: 90vh;
  background-color: #bb9292;
  position: fixed;
  top: 10vh;
  z-index: 2;
}

/*scrolling*/
.layer {
  overflow: scroll;
  width: 80vw; 
  height: 70vh; 
  position: relative;
  top: 14vh;
  left: 8vw;
  background: rgb(231, 204, 204);
  z-index:  1;
}

/*холст*/
#svg_panel {
  width: 40vw;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  z-index: 1;
}

.tool_button {
  margin: 0.5vw;
  width: 4vw;
  height: 4vw;
  border-radius: 10%;
  background-size: cover;
  background-color: #ffdbdb;
  border-color: rgb(141, 94, 94);
  border-width: medium;
}

.active_tool_button {
  margin: 0.5vw;
  width: 4vw;
  height: 4vw;
  border-radius: 10%;
  background-size: cover;
  background-color: #ffdbdb;
  border-color: rgb(141, 94, 94);
  border-width: thick;
}

.tool_button:hover {
  background-color: #966d6d;
}

/*VERT MENU*/
#figures:hover{
  background-color: #ffdbdb;
}
.vertical_menu{
  position: absolute;
  list-style: none;
  width: 100%;
  left: 95%;
  opacity: 0;
}
.vertical_menu a{
  font-size: 150%;
  background-color: #ffdbdb;
  text-decoration: none;
  color:rgb(104, 70, 70)
}
.vertical_menu a:hover{
  background-color: #966d6d;
}
#figures:hover .vertical_menu{
  opacity: 1;
}