@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    font-family: "Roboto", sans-serif;
}

/*HEADER*/

#logo {
    font-size: 40px;
    padding: 5px 0px 15px 60px;
    font-family: 'Marcellus SC', serif;
    background-image: url(img/logo.svg);
    background-size: 46px 46px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
}

header {
    width: 100%;
    height: 60px;
    color: #fff;
    background-color: #333;
    z-index: 2;
    display: flex;
}

/*MENU*/

#menu_bar {
    margin-left: 30px;
    height: 6%;
    width: initial;
    display: flex;
    font-family: 'Times New Roman', serif;
}

.container {
    width: initial;
    background-color: #333;
    font-size: 20px;
}

.container > ul {
    display: flex;
    list-style: none;
}

.container > ul li a {
    display: block;
    text-decoration: none;
    padding: 1.7vh 1.5vw;
    color: #fff;
    transition: all 0.3s ease;
}

.container > ul li {
    position: relative;
}

.container ul > li a:hover {
    background-color: #555;
    transition: all 0.3s ease;
}

#functions {
    top: 0vh;
    margin-left: auto;
    margin-right: 1.5vw;
    display: flex;
    align-items: center;
}

.func_button:hover {
    background-color: #555;
}

/*SUB MENU*/

.container li ul {
    position: absolute;
    display: none;
    list-style: none;
}

.container li > ul li a {
    font-size: 2vh;
    padding: 1.8vh 1vw;
    text-transform: none;
    background-color: #333;
    position: relative;
    z-index: 3;
}

.container li:hover > ul {
    display: block;
}

#paste {
    color: #999;
    cursor: default;
}

#paste:hover {
    background: #333;
}

/*MAIN*/

main {
    top: 60px;
    height: 94%;
    width: 100%;
    position: fixed;
}

#left_panel {
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 100%;
    background-color: #333;
    position: fixed;
    z-index: 2;
}

.tool_button {
    margin: 5px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-color: #333;
    border-color: #fff;
    border-radius: 10%;
    border-width: 3px;
    cursor: pointer;
}

.tool_button:hover {
    background-color: #444;
}

#left_panel li > ul {
    display: none;
    position: absolute;
    left: 60px;
    margin-top: -60px;
    background-color: #333;
    list-style: none;
}

#left_panel li:hover > ul {
    display: block;
}

#right_panel {
    width: 10%;
    height: 100%;
    background-color: #333;
    z-index: 2;
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    color: #e5e5e5;
}

/*scrolling*/
#scroll_panel {
    overflow: scroll;
    width: 86%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60px;
    background: #222;
    z-index: 1;
}

/*rulers*/
#rulers {
    z-index: 2;
    display: block;
    position: relative;
    font-size: 11px;
    font-family: Courier;
    font-weight: bold;
    user-select: none;
    color: #ccc;
}

#rulers_corner {
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #333;
    border: none;
    z-index: 1;
}

#ruler_x {
    width: 512px;
    height: 15px;
    left: 15px;
    top: 0px;
}

#ruler_x pattern rect {
    /*fill: url(#ruler_x_gradient);*/
    fill: #444;
}

#ruler_y pattern rect {
    fill: #444;
}

#ruler_x,
#ruler_y {
    position: absolute;
    display: block;
    overflow: hidden;
    -webkit-transform: translateZ(0)
}

#ruler_x pattern line,
#ruler_y pattern line {
    stroke: #ccc;
    stroke-width: 1px;
}

#ruler_x_text text,
#ruler_y_text text {
    fill: #ccc;
}

#ruler_y {
    width: 15px;
    height: 512px;
    top: 15px;
}

/*холст*/
#svg_panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px #000000;
    z-index: 1;
}

.func_button {
    width: 4vh;
    height: 4vh;
    margin: 0.4vw;
    background-size: cover;
    background-color: transparent;
    border-width: 0;
    cursor: pointer;
}

.active {
    border-width: 6px;
}

/*VERT MENU*/
#figures:hover {
    background-color: #555;
}

.vertical_menu {
    position: relative;
    list-style: none;
    left: 100px;
    top: 0px;
    opacity: 0;
}

.vertical_menu a {
    font-size: 150%;
    background-color: #333;
    text-decoration: none;
    color: #fff;
}

.vertical_menu a:hover {
    background-color: #555;
}

#figures:hover .vertical_menu {
    opacity: 1;
}
